form {
  text-align: center;
}

.full-width {
  width: 100%;
}

h2 .subtitle {
  color: #666;
  font-size: 65%;
  font-weight: 400;
  line-height: 1;
  padding-top: 5px;
}

dl {
  min-width: 300px;
}

.dl-horizontal dt {
  width: 47%;
}

.dl-horizontal dd {
  margin-left: 53%;
}

td img {
  width: 48px;
}

td div.tile {
  width: 48px;
  height: 48px;
}

.confirm-cancel {
  padding: 5px;
}

.multiples {
  text-align: center;
  width: 100%;
}

.multiples-section {
  margin-bottom: 15px;
}

.multiples-row {
  display: flex;
  margin: 5px 0px;
}

.multiples-row > * {
  margin: 0px 8px;
}

.multiples-row :first-child {
  width: 45%;
  font-weight: bold;
  text-align: right;
}

.quantity-input {
  max-width: 70px;
}

input {
  padding-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; */
    -webkit-appearance: none;
    margin: 0;
}
