.qty-options-dialog-container {
  padding: 40px; // padding: 40px 40px 0 40px;
  .qty-options-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    .title {
      font-size: 30px;
      font-weight: 500;
    }
    span button {
      line-height: 1 !important;
    }
  }
  .qty-options-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-top: solid 5px black;
    .qty-section {
      padding: 15px 0 15px 0;
      border-bottom: 1px solid #e8e8e8;
      width: 100%;
      .subtitle {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .description {
        font-size: 0.9em;
        margin-top: -10px;
        margin-bottom: 15px;
      }
      .inputs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .input {
          margin-right: 20px;
        }
        .input input {
          max-width: 100px;
          line-height: 2;
        }
        .name-input {
          width: 280px;
          padding-right: 10px;
          line-height: 2;
          text-indent: 8px;
          margin-right: 20px;
        }
        .sub-header {
          font-weight: 500;
          font-size: 0.9em;
        }
        .max-min {
          display: flex;
          flex-direction: column;
          font-size: 0.7em;
          line-height: 1;
          margin-top: 8px;
        }
        .units-input {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          span {
            border: 1px solid #e8e8e8;
            margin-top: -9px;
            height: 34px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          span p {
            margin: 0;
          }
        }
      }
    }
    .qty-section:last-child {
      border-bottom: 0;
    }
    .vertical-divider {
      margin: 3px 10px 0 10px;
      border-left: 1px solid #e8e8e8;
    }
    .right-column {
      border-top: solid 5px black;
      flex-grow: 3;
    }
  }
  .qty-options-footer {
    margin-top: 40px;
    display: flex;
  }
  .qty-options-footer :first-child {
    margin-right: 20px;
  }
}

// .quantity-options {
//   padding-left: 15px;
// }
// .grid-dimensions {
//   margin-bottom: 15px;
//   display: flex;
//   align-items: center;
// }
// label {
//   width: 215px;
// }
