<div class="qty-options-dialog-container">
  <div class="qty-options-header">
    <div class="title">
      {{title | capitalize}}
    </div>
    <span appStyledButton='secondary-left' (click)="goToLanding()">
      <button>Return to design tools</button>
    </span>
  </div>
  <div class="qty-options-container">
    <div id="project-name" class="qty-section">
      <div class="subtitle">Project name</div>
      <div class="inputs">
        <input type="text" class="name-input square" placeholder="Name" autofocus [(ngModel)]="feature.design_name">
        <a id="load-btn" class="load-btn-fmt" title="load saved designs" (click)="feature.loadDesigns()">
          <img src="/assets/icons/tools/load.png">
          <span>Load</span>
        </a>
      </div>
    </div>

    <div *ngIf="showProfileFeatureSelection" id="swoon-feature-selection" class="qty-section">
      <div class="subtitle">Feature selection</div>
      <span appStyledSelect>
        <select (change)="updateSelectedProfileFeature($event.target.value)">
          <option value="swoon">Swoon</option>
        </select>
      </span>
    </div>

    <div *ngIf="showClarioTileSizes" id="clario-tile-sizes" class="qty-section">
      <div class="subtitle">Grid and Tile Size</div>
      <div class="inputs">
        <div class="input">
          <div class="sub-header">Ceiling Grid Type</div>
          <span appStyledSelect>
            <select (change)="clarioGridSizeChanged($event.target.value)" id="gridOptions" [(ngModel)]="feature.grid_type">
              <option [value]="'15/16'">15/16" (24mm)</option>
              <option [value]="'9/16'">9/16"</option>
            </select>
          </span>
        </div>
        <div class="input">
          <div class="sub-header">Tile Size</div>
          <span appStyledSelect>
            <select (change)="clarioTileSizeChanged($event.target.value)" id="gridOptions">
              <option disabled [value]="undefined" [selected]="clarioGrids.selectedTileSize === undefined">-- select --</option>
              <option *ngFor="let gridOption of clarioGrids.tileSizeOptions | keys" [value]="gridOption.name" [selected]="clarioGrids.selectedTileSize?.name === gridOption.name">{{gridOption.name}}</option>
            </select>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="qty-options-footer">
    <span appStyledButton='primary-right'>
      <button type="submit" (click)="dialogRef.close('start designing')" class="start-designing">Next</button>
    </span>
  </div>
</div>


<!-- <div class="quantity-options">
  <div class="row">
    <div class="col-xs-11">
      <div class="intro">
        <h2>{{title | capitalize}}</h2>
      </div>
    </div>
  </div>
  <div class="row col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <p>Already know your design? Simply order the number of tiles you need.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Quantity Order Name</h3>
      </div>
      <div class="col-sm-7">
        <div class="form-group">
          <input [(ngModel)]="feature.design_name" type="text" class="form-control square" placeholder="Name" name="design-name" id="design-name-input"
            autofocus>
        </div>
      </div>
      <div class="col-sm-3 options-load">
        <a id="load-btn" title="load saved designs" (click)="feature.loadDesigns()">
          <span class="icomoon-folder orange"></span> Load</a>
      </div>
    </div>
    <div *ngIf="feature.feature_type === 'clario'">
      <hr>
      <h3>Grid and Tile Size</h3>
      <p>Select your ceiling grid type and tile size.</p>
      <div class="row">
        <div class="col-sm-7 grid-dimensions">
          <label for="gridOptions">Ceiling Grid Type</label>
          <select class="form-control" (change)="gridSizeChanged($event.target.value)" id="gridOptions" [(ngModel)]="feature.grid_type">
            <option [value]="'15/16'">15/16" (24mm)</option>
            <option [value]="'9/16'">9/16"</option>
          </select>
        </div>
        <div class="col-sm-7 grid-dimensions">
          <label for="gridOptions">Tile Sizes</label>
          <select class="form-control" (change)="tileSizeChanged($event.target.value)" id="gridOptions">
            <option disabled [value]="undefined" [selected]="clarioGrids.selectedTileSize === undefined">-- select --</option>
            <option *ngFor="let gridOption of clarioGrids.tileSizeOptions | keys" [value]="gridOption.name" [selected]="clarioGrids.selectedTileSize?.name === gridOption.name">{{gridOption.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <button class="button button-orange start-designing" (click)="dialogRef.close('start designing')" [disabled]="!validateOptions()">Next</button>
    <div class="back">
      <a id="back-to-landing" class="back-to-landing" (click)="goToLanding()">
        < Choose a Different Tool</a>
    </div>
  </div>
</div> -->
