.options-dialog-container {
  padding: 40px 40px 0 40px;
  .options-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    .title {
      font-size: 30px;
      font-weight: 500;
    }
  }
  .options-columns {
    display: flex;
    align-items: stretch;
    .left-column {
      border-top: solid 5px black;
      flex-grow: 3;
      .section {
        padding: 15px 0 15px 0;
        border-bottom: 1px solid #e8e8e8;
        .subtitle {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 10px;
        }
        .inputs {
          display: flex;
          align-items: center;
          .name-input {
            flex-grow: 1;
            padding-right: 10px;
            line-height: 2;
            text-indent: 8px;
          }
          .load-btn {
            flex-grow: 1;
            display: flex;
            align-items: center;
          }
          .load-btn>* {
            padding-left: 15px;
          }
          .load-btn img {
            max-height: 15px;
          }
        }
      }
    }
    .left-column :last-child {
      border-bottom: 0;
    }
    .vertical-divider {
      margin: 3px 10px 0 10px;
      border-left: 1px solid #e8e8e8;
    }
    .right-column {
      border-top: solid 5px black;
      flex-grow: 3;
    }
  }
  .options-footer {
    margin-top: 40px;
    display: flex;
  }
  .options-footer :first-child {
    margin-right: 20px;
  }
}
