<div class="options-dialog-container">
  <div class="options-header">
    <div class="title">
      {{title | capitalize}}
    </div>
    <span appStyledButton='secondary-left'>
      <button>Return to design tools</button>
    </span>
  </div>
  <div class="options-columns">
    <div class="left-column">
      <div id="project-name" class="section">
        <div class="subtitle">Project name</div>
        <div class="inputs">
          <input type="text" class="name-input square" placeholder="Name" autofocus>
          <a id="load-btn" class="load-btn" title="load saved designs" (click)="feature.loadDesigns()">
            <img src="/assets/icons/tools/load.png">
            <span>Load</span>
          </a>
        </div>
      </div>
      <div id="feature-selection" class="section">
        <div class="subtitle">Feature selection</div>
        <span appStyledSelect>
          <select (change)="updateSelectedFeature($event.target.value)">
            <!-- <option *ngFor="let featureOption of seeyond.seeyond_features | keys" [value]="featureOption.name" [selected]="featureOption.name==this.seeyond.seeyond_feature_type">{{featureOption.title}}</option> -->
            <option value="swoon">Swoon</option>
          </select>
        </span>
      </div>
    </div>
    <div class="vertical-divider"></div>
    <div class="right-column"></div>
  </div>
  <div class="options-footer">
    <span appStyledButton='primary-right'>
      <button type="submit" (click)='startDesigning()' class="start-designing">Start designing</button>
    </span>
    <span appStyledButton='secondary-left'>
      <button class="go-to-quantity">Order by quantity</button>
    </span>
  </div>
</div>
