<!-- BEGIN FEATURES -->
<mat-expansion-panel #features hideToggle="true">
  <mat-expansion-panel-header>
    <mat-panel-title class="sub-header">
      Features
    </mat-panel-title>
    <mat-icon *ngIf="!features.expanded" svgIcon="accordian_open"></mat-icon>
    <mat-icon *ngIf="features.expanded" svgIcon="accordian_close"></mat-icon>
  </mat-expansion-panel-header>
  <div class="features-selection">
    <span appStyledSelect [width]="280">
      <select (change)="seeyondUpdateSelectedFeature($event.target.value)">
        <option *ngFor="let featureOption of seeyond.seeyond_features | keys" [value]="featureOption.name" [selected]="featureOption.name==this.seeyond.seeyond_feature_type">{{featureOption.title}}</option>
      </select>
    </span>
    <div class="feature-details">
      <img src="{{seeyond.image}}" class="seeyond-feature-img" alt="{{seeyond.title}} line drawing">
      <span class="cove-lighting" *ngIf="this.seeyond.seeyond_feature_type === 'ceiling' || this.seeyond.seeyond_feature_type === 'wall-to-ceiling'">
        <div class="sub-header">Cove Lighting</div>
        <span class="checkbox" (click)="toggleCoveLighting()">
          <img *ngIf="seeyond.cove_lighting" src="/assets/icons/tools/check.png" alt="check-mark">
        </span>
      </span>
    </div>
  </div>
</mat-expansion-panel>
<!-- END FEATURES -->

<!-- BEGIN DIMENSIONS -->
<mat-expansion-panel #dimensions hideToggle="true">
  <mat-expansion-panel-header>
    <mat-panel-title class="sub-header">
      Dimensions
    </mat-panel-title>
    <mat-icon *ngIf="!dimensions.expanded" svgIcon="accordian_open"></mat-icon>
    <mat-icon *ngIf="dimensions.expanded" svgIcon="accordian_close"></mat-icon>
  </mat-expansion-panel-header>
  <div class="dimensions-selection">
    <div class="inputs">
      <div class="input">
        <div class="sub-header">Width</div>
        <input [(ngModel)]="seeyond.width" #widthInput="ngModel" (change)="seeyondDimensionsDidChange($event.key)" required type="number"
          class="unit-input" placeholder="Width" name="width">
        <div class="max-min">
          <span>Min {{this.seeyond.widthMin}}</span>
          <span>Max {{this.seeyond.widthMax}}</span>
        </div>
      </div>
      <div class="input">
        <div class="sub-header" *ngIf="seeyond.seeyond_feature_type !== 'ceiling'">Height</div>
        <div class="sub-header" *ngIf="seeyond.seeyond_feature_type === 'ceiling'">Length</div>
        <input [(ngModel)]="seeyond.height" #lengthInput="ngModel" (change)="seeyondDimensionsDidChange($event.key)" required type="number"
          class="unit-input" placeholder="Height" name="length">
        <div class="max-min">
          <span>Min {{this.seeyond.heightMin}}</span>
          <span>Max {{this.seeyond.heightMax}}</span>
        </div>
      </div>
      <div class="input" *ngIf="seeyond.seeyond_feature_type === 'wall-to-ceiling'">
        <div class="sub-header">Ceiling Length</div>
        <input [(ngModel)]="seeyond.ceiling_length" #ceilingLengthInput="ngModel" (change)="seeyondDimensionsDidChange($event.key)"
          required type="number" class="unit-input" placeholder="Height" name="length">
        <div class="max-min">
          <span>Min {{this.seeyond.ceilLengthMin}}</span>
          <span>Max {{this.seeyond.ceilLengthMax}}</span>
        </div>
      </div>
      <div class="input" *ngIf="seeyond.seeyond_feature_type === 'curved-partition'">
        <div class="sub-header">Radius</div>
        <input [(ngModel)]="seeyond.radius" #radiusInput="ngModel" (change)="seeyondDimensionsDidChange($event.key)" type="number"
          class="unit-input" placeholder="Height" name="length">
        <div class="max-min">
          <span>Min {{this.seeyond.radiusMin}}</span>
          <span>Max {{this.seeyond.radiusMax}}</span>
        </div>
      </div>
    </div>
    <div class="units-input">
      <!-- <mat-button-toggle-group #units="matButtonToggleGroup" (change)="updateGridUnits(units.value)" value="{{feature.units}}">
        <mat-button-toggle value="inches">IN</mat-button-toggle>
        <mat-button-toggle value="centimeters">CM</mat-button-toggle>
      </mat-button-toggle-group> -->
      <span class="toggle-btns units-input">
        <button (click)="updateGridUnits('inches')" [class.selected]="feature.units === 'inches'">IN</button>
        <button (click)="updateGridUnits('centimeters')" [class.selected]="feature.units === 'centimeters'">CM</button>
      </span>
    </div>
  </div>
</mat-expansion-panel>
<!-- END DIMENSIONS -->

<!-- BEGIN PATTERN -->
<mat-expansion-panel #patterns hideToggle="true" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title class="sub-header">
      Pattern
    </mat-panel-title>
    <mat-icon *ngIf="!patterns.expanded" svgIcon="accordian_open"></mat-icon>
    <mat-icon *ngIf="patterns.expanded" svgIcon="accordian_close"></mat-icon>
  </mat-expansion-panel-header>

  <div class="patterns-selection">
    <div class="patterns-container">
      <div *ngFor="let pattern of seeyond.patterns | keys" (click)="updateSelectedTessellation(pattern)" class="pattern">
        <div class="sub-header">{{pattern | capitalize}}</div>
        <div class="pattern" [class.selected]="seeyond.tessellationStr == pattern">
          <img src="/assets/images/patterns/{{pattern}}.png" alt="{{pattern | capitalize}}" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="strength-relief-container">
      <div class="strength-container">
        <div class="sub-header">Pattern Strength</div>
        <mat-slider class="example-margin" max="10" min="1" step="1" thumbLabel="true" tickInterval="1" [disabled]="this.seeyond.quoted"
          [value]="seeyond.pattern_strength" (change)="updatePatternStrength(patternStrength.value)" #patternStrength>
        </mat-slider>
      </div>
      <div class="relief-container" *ngIf="seeyond.seeyond_feature_type ==='linear-partition' || seeyond.seeyond_feature_type ==='curved-partition'">
        <div class="sub-header">Pattern Location</div>
        <span appStyledSelect [width]="150">
          <select [(ngModel)]="patternRelief" (change)="updatePatternRelief()" [disabled]="this.seeyond.quoted">
            <option *ngFor="let relief of patternReliefOptions" value="{{relief.value}}">{{relief.name}}</option>
          </select>
        </span>
      </div>
    </div>
  </div>
</mat-expansion-panel>
<!-- END PATTERN -->

<!-- BEGIN COLORS -->
<mat-expansion-panel #colors hideToggle="true" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title class="sub-header">
      Colors
    </mat-panel-title>
    <mat-icon *ngIf="!colors.expanded" svgIcon="accordian_open"></mat-icon>
    <mat-icon *ngIf="colors.expanded" svgIcon="accordian_close"></mat-icon>
  </mat-expansion-panel-header>

  <div class="colors-selection">
    <div *ngFor="let material of seeyondMaterials | keys" matTooltip="{{material.material | capitalize}}" [matTooltipPosition]="position"
      (click)="updateSelectedMaterial(material)" class="material">
      <div *ngIf="material.status === 'active'">
        <img src="{{material.image}}" alt="{{material.material | capitalize}}" [class.selected]="seeyond.material==material.material">
      </div>
    </div>
  </div>
</mat-expansion-panel>
<!-- END COLORS -->
