<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="black-bar">
        <div class="home-tab">
          <a href="https://www.3-form.com/">
            <div class="threeform-logo"></div>
          </a>
        </div>
      </div>
      <div class="col-sm-10">
        <h1>Design Tools</h1>
      </div>
    </div>
  </div>
</div>
<div class="row features">
  <div class="col-sm-6">
    <div class="feature" id="seeyond">
      <div class="content text-center">
        <p class="lg">Seeyond</p>
        <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('seeyond')">Design Feature</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="feature" id="tetria">
      <div class="content text-center">
        <p class="lg">Tetria</p>
        <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('tetria')">Design Feature</button>
      </div>
    </div>
  </div>
</div>
<div class="row features">
  <div class="col-sm-6">
    <div class="feature" id="clario">
      <div class="content text-center">
        <p class="lg">Clario</p>
        <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('clario')">Design Feature</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="feature" id="velo">
      <div class="content text-center">
        <p class="lg">Velo</p>
        <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('velo')">Design Feature</button>
      </div>
    </div>
  </div>
</div>
<div class="row features">
  <div class="col-sm-6">
    <div class="feature" id="hush-blocks">
      <div class="content text-center">
        <p class="lg">Hush Blocks</p>
        <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('hush-blocks')">Design Feature</button>
      </div>
    </div>
  </div>
</div>
