.features {
  margin-top: 10px;
}

.feature {
  height: 250px;
  margin-bottom: 15px;
}

.feature > .content {
  width: 555px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature > .content p {
  padding-bottom: 15px;
  color: #fff;
}

.black-bar {
  height: 32px;
  width: 100%;
  background-color: black;
  margin-bottom: 15px;
}

.home-tab {
  width: 150px;
  background-color: #fff;
  height: 100%;
  position: absolute;
  top: 3px;
  left: 10px;
}

.threeform-logo {
  width: 120px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent, transparent), url(//3form.s3.amazonaws.com/images/navigation/3form_logo_tab.png);
  margin-top: 8px;
  margin-left: 15px;
}

.logo {
  margin: 20px 0px;
}

#seeyond {
  background: radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/features/seeyond.png);
  background-size: cover;
  background-position: 50%;
}

#tetria {
  background: radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/features/tetria.png);
  background-size: cover;
  background-position: 50%;
}

#clario {
  background: radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/features/clario.png);
  background-size: cover;
  background-position: 50%;
}

#velo {
  background: radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/features/velo.png);
  background-size: cover;
  background-position: 50%;
}

#hush-blocks {
  background: radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/features/hush.jpg);
  background-size: cover;
  background-position: 50%;
}
