<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-10">
        <h1>Design Tools</h1>
      </div>
    </div>
  </div>
</div>
<div class="row features">
  <div class="col-sm-6">
    <div class="feature" id="seeyond">
      <div class="content text-center">
        <p class="lg">Seeyond</p>
        <div class="buttons">
          <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('seeyond')">Design Your Feature</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="feature" id="tetria">
      <div class="content text-center">
        <p class="lg">Tetria</p>
        <div class="buttons">
          <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('tetria')">Design Your Feature</button>
          <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('tetria', 'quantity')">Order By Quantity</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row features">
  <div class="col-sm-6">
    <div class="feature" id="clario">
      <div class="content text-center">
        <p class="lg">Clario</p>
        <div class="buttons">
          <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('clario')">Design Your Feature</button>
          <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('clario', 'quantity')">Order By Quantity</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="feature" id="velo">
      <div class="content text-center">
        <p class="lg">Velo</p>
        <div class="buttons">
          <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('velo')">Design Your Feature</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row features">
  <div class="col-sm-6">
    <div class="feature" id="hush-blocks">
      <div class="content text-center">
        <p class="lg">Hush Blocks</p>
        <div class="buttons">
          <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('hush-blocks')">Design Your Feature</button>
          <button id="seeyond-button" class="button button-transparent orange" (click)="goTo('hush-blocks', 'quantity')">Order By Quantity</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="feature" id="profile">
      <div class="content text-center">
        <p class="lg">Profile</p>
        <div class="buttons">
          <button id="profile-button" class="button button-transparent orange" (click)="goTo('profile')">Design Your Feature</button>
          <button id="profile-button" class="button button-transparent orange" (click)="goTo('profile', 'quantity')">Order By Quantity</button>
        </div>
      </div>
    </div>
  </div>
</div>
