.removeQty-dialog-container {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.section {
  margin: 10px 15px;
}

.selection-summary {
  min-height: 50px;
  margin-bottom: 10px;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

img{
  max-height: 50px;
}

.action-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.action-btns :last-child {
  margin-left: 15px;
}
