.toggle-button-form-wrapper {
  margin-top: 20px;
}

label {
  color: #676767;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
}

button.back-to-landing {
  margin-top: 25px;
}

button.start-designing {
  margin-top: 50px;
}

.options-load {
  margin-top: 10px;
}

li.tile {
  width: 34px;
  height: 34px;
  padding: 2px;
  border: 2px solid #E7E7E7;
}

li.material {
  padding: 2px;
  margin-bottom: 4px;
}

li.material img {
  width: 22px;
  height: 22px;
  border-radius: 11px;
}

.tool-container {
  padding: 0;
  font-size: 12px;
}

.tool {
  border: 2px solid #E7E7E7;
  border-right: none;
  padding: 15px;
  width: 55px;
}
