/* Custom Cursors for the tools */
.grid {
  cursor: copy;
  margin: 0 auto;
  position: relative;
  color: cyan;
}

.remove-cursor {
  cursor: url('/assets/icons/tools/cursors/remove.png'), no-drop;
}

.rotate-cursor {
  cursor: url('/assets/icons/tools/cursors/rotate.png'), copy;
}

.light-cursor {
  cursor: url('/assets/icons/tools/cursors/light.png'), copy;
}

.vent-cursor {
  cursor: url('/assets/icons/tools/cursors/vent.png'), copy;
}

.sprinkler-cursor {
  cursor: url('/assets/icons/tools/cursors/sprinkler.png'), copy;
}

.grid-section {
  width: 48px;
  height: 48px;
}

.grid-section-control {
  border: 1px solid #cdcdcd;
  border-right: none;
  border-bottom: none;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 48px;
  position: relative;
  width: 48px;
  text-align: center;
  line-height: 48px;
}

.grid-section-control:last-child {
  border-right: 1px solid #cdcdcd;
}

.grid-section-control.add-border-bottom {
  border-bottom: 1px solid #cdcdcd;
}

.grid-room-guide {
  border: 2px dashed cyan;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
  pointer-events: none;
}
