<div class="right-section">
  <div class="subtitle">Tile Size</div>
  <div class="description">Tile dimensions are 24" x 24" x 2"
    <br> (60.96cm x 60.96cm x 5.08cm)</div>
  <div class="images grid-and-guide">
    <img src="/assets/images/hush-blocks-size.png" alt="Hush Blocks Size. 24 inches by 24 inches.">
  </div>
</div>

<div class="right-section">
  <div class="subtitle">Design</div>
  <div class="description">Choose your baffle color and design.</div>
  <div class="colors">
    <img src="/assets/images/materials/felt/sola/nickel.png" alt="Nickel">
    <img src="/assets/images/materials/felt/sola/citrine.png" alt="Citrine">
    <img src="/assets/images/materials/felt/sola/aries.png" alt="Aries">
    <img src="/assets/images/materials/felt/sola/ruby.png" alt="Ruby">
    <img src="/assets/images/materials/felt/sola/oxford.png" alt="Oxford">
    <img src="/assets/images/materials/felt/sola/hunter.png" alt="hunter">
    <img src="/assets/images/materials/felt/sola/burnt_umber.png" alt="Burnt Umber">
    <img src="/assets/images/materials/felt/sola/ebony.png" alt="Ebony">
  </div>
</div>

<div class="right-section">
  <div class="subtitle">Modify Grid</div>
  <div class="description">Add and remove columns and rows as needed.</div>
  <div class="images">
    <div class="design-img">
      <div class="img-title">Add</div>
      <img class="tool" src="/assets/icons/tools/add-plus.png" alt="Rotate Baffles">
    </div>
    <div class="design-img">
      <div class="img-title">Remove</div>
      <img class="tool" src="/assets/icons/tools/remove-minus.png" alt="Remove Baffles">
    </div>
  </div>
</div>
