<div class="right-section">
  <div class="subtitle">Tile Size</div>
  <div class="description">Tile dimensions are 24" x 16"
    <br> (60.96cm x 40.64cm)</div>
  <div class="images grid-and-guide">
    <img src="/assets/images/velo-tile-size.png" alt="Hush Blocks Size. 24 inches by 16 inches.">
  </div>
</div>

<div class="right-section">
  <div class="subtitle">Design</div>
  <div class="description">Choose your tile design and color.</div>
  <div class="colors">
    <img class="tile-type" src="/assets/images/velo/concave.png" alt="Concave">
    <img class="tile-type" src="/assets/images/velo/convex.png" alt="Convex">
    <img src="/assets/images/materials/felt/merino/milky-white.png" alt="Milky White">
    <img src="/assets/images/materials/felt/merino/heather-gray.png" alt="Heather Gray">
    <img src="/assets/images/materials/felt/merino/charcoal.png" alt="Charcoal">
    <img src="/assets/images/materials/felt/merino/heather-charcoal.png" alt="Heather Charcoal">
    <img src="/assets/images/materials/felt/merino/heather-black.png" alt="Heather Black">
    <img src="/assets/images/materials/felt/merino/black.png" alt="Black">
  </div>
  <div class="description">Add either Avalance D01 or Vapor W05 diffusion layer.</div>
  <div class="diffusions">
    <img src="/assets/icons/tools/avalanche_d01.jpg" alt="Avalanche D01">
    <img src="/assets/icons/tools/vapor_w05.jpg" alt="Vapor W05">
  </div>
</div>
