<ng-container *ngIf="feature.units == 'inches' && !!hRulerLabels && !!vRulerLabels">
  <div class="ruler horizontal">
    <label *ngFor="let label of hRulerLabels">{{label}}</label>
  </div>
  <div class="ruler vertical">
    <label *ngFor="let label of vRulerLabels">{{label}}</label>
  </div>
</ng-container>

<ng-container *ngIf="feature.units == 'centimeters' && !!hRulerLabels && !!vRulerLabels">
  <div class="ruler horizontal">
    <label *ngFor="let label of hRulerLabels">{{label}}</label>
  </div>
  <div class="ruler vertical">
    <label *ngFor="let label of vRulerLabels">{{label}}</label>
  </div>
</ng-container>

<!-- <div class="guide horizontal" [ngStyle]="{'top.px': guideTop}"></div>
<div class="guide vertical" [ngStyle]="{'left.px': guideLeft}"></div> -->
<div class="guide horizontal" [style.top.px]="guideTop"></div>
<div class="guide vertical" [style.left.px]="guideLeft"></div>



<app-velo-grid *ngIf="gridType === 'velo'"></app-velo-grid>
<app-swoon-grid *ngIf="gridType === 'hushSwoon'"></app-swoon-grid>

<!-- <div>{{guideTop}} {{guideLeft}}</div> -->
