<ng-container *ngIf="!!hRulerLabels && !!vRulerLabels">
  <div class="ruler horizontal" [style.background-size]="rulerBackgroundSize" [style.width]="rulerWidth">
    <label *ngFor="let label of hRulerLabels" [ngStyle]="{'width': labelWidth}">{{label}}</label>
  </div>
  <div class="ruler vertical" [style.width]="rulerHeight" [style.background-size]="rulerBackgroundSize" *ngIf="!!labelWidth">
    <label *ngFor="let label of vRulerLabels" [ngStyle]="{'width': labelWidth}">{{label}}</label>
  </div>
</ng-container>

<div class="guide horizontal" [style.top.px]="guideTop"></div>
<div class="guide vertical" [style.left.px]="guideLeft"></div>

<app-velo-grid *ngIf="gridType === 'velo'" (mousemove)="moveGuide($event)"></app-velo-grid>
<app-swoon-grid *ngIf="gridType === 'hushSwoon'" (mousemove)="moveGuide($event)"></app-swoon-grid>
