<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>We're sorry, the page you requested cannot be found.</h1>
      <h2>Let's get you back to creating something awesome!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Overhead Spaces</h3>
      <div class="row">
        <div class="col-sm-6">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Tiles</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Baffles</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Clouds</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h3>Vertical Spaces</h3>
      <div class="row">
        <div class="col-sm-6">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Seeyond Wall</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Seeyond Linear Partition</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Seeyond Curved Partition</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <h3>Overhead Spaces</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Tiles</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Baffles</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Seeyond Ceiling</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Seeyond Wall-to-Ceiling</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Clouds</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Shapes</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Edge</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <h3>Vertical Spaces</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Seeyond Wall</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Seeyond Linear Partition</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Seeyond Curved Partition</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Profile Tiles</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Profile Panels</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Wovin Wall</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Ripple Wall</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature" id="ceiling">
            <div class="content text-center">
              <p class="lg">Wave Wall</p>
              <a href="<?= SEEYOND;?>/feature/ceiling" class="button button-transparent">Start Designing</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
