hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  margin-top: 5px;
}

.header p {
  margin-top: 0;
  margin-bottom: 0;
}

.order-data {
  margin: 15px 15px 15px 40px;
  display: flex;
  flex-direction: column;
}

.summary {
  width: 600px;
}

.totals {
  margin: 15px 0px;
  width: 600px;
}

.footer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer > * {
  margin-right: 10px;
}

.footer :last-child {
  margin-right: 0px;
  min-width: 84px;
}

.logo img{
  width: 85px;
}

.material-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.material-column img {
  margin-right: 10px;
}

.mat-cell:first-child,
.mat-header-cell:first-child {
  flex: 0 0 25%;
}

.mat-cell:last-child,
.mat-header-cell:last-child {
  flex: 0 0 15%;
}

.table-img {
  max-height: 50px;
  margin: 3px 0px;
}

.rep-name, .rep-info {
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: 500;
}

.info {
  font-size: 22px;
  font-weight: 500;
}

.print {
  cursor: pointer;
  float: right;
}

.details-table-container {
  margin-bottom: 15px;
}

span.sm {
  font-size: 17px;
  font-weight: 300;
}

.back-to-design span {
  font-size: 11px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
