<div class="main-navbar">
  <div class="top-row">
    <!-- <div class="left-side">
      <span class="primary-link">Inspiration</span>
      <span class="primary-link">Products</span>
      <span class="primary-link">Systems</span>
      <span class="primary-link">Materials</span>
      <span class="primary-link">Installation</span>
      <span class="primary-link">Services</span>
    </div>
    <div class="right-side">
      <span class="secondary-link">US
        <img class="down-chevron" src="/assets/icons/tools/down-chevron-black.png" alt="drop down">
      </span>
      <span class="secondary-link">Sign In</span>
      <span class="secondary-link">Contact a Rep</span>
      <span class="secondary-link">
        <img class="search" src="/assets/icons/zoomin.png" alt="search"> </span>
    </div> -->
  </div>
  <div class="bottom-row">
    <div class="logo">
      <img (click)="goTo3Form()" src="//3form.s3.amazonaws.com/images/navigation/3form_logo.svg" alt="3form">
    </div>
    <div class="sidenav">
      <span class="sidenav-btn" mat-button [matMenuTriggerFor]="menu">
        <span class="sub-header">Configuration Tools</span>
        <span class="arrow-img">
          <img src="/assets/icons/tools/left-arrow.png" alt="Open Sidenav">
        </span>
      </span>
      <mat-menu #menu="matMenu" backdropClass="nav-sub-menu">
        <button class="sub-header nav-menu-item" (click)="goToFeature('seeyond/design')" mat-menu-item>Seeyond</button>
        <button class="sub-header" (click)="goToFeature('velo/design')" mat-menu-item>Velo</button>
        <button class="sub-header" [matMenuTriggerFor]="tetria" mat-menu-item>Tetria</button>
        <button class="sub-header" [matMenuTriggerFor]="clario" mat-menu-item>Clario</button>
        <button class="sub-header" [matMenuTriggerFor]="hushBlocks" mat-menu-item>Hush-Blocks</button>
        <button class="sub-header" [matMenuTriggerFor]="hushSwoon" mat-menu-item>Hush-Swoon</button>
      </mat-menu>
      <mat-menu #tetria="matMenu">
        <button class="sub-header" (click)="goToFeature('tetria/design')" mat-menu-item>Design</button>
        <button class="sub-header" (click)="goToFeature('tetria/quantity')" mat-menu-item>Quantity</button>
      </mat-menu>
      <mat-menu #clario="matMenu">
        <button class="sub-header" (click)="goToFeature('clario/design')" mat-menu-item>Design</button>
        <button class="sub-header" (click)="goToFeature('clario/quantity')" mat-menu-item>Quantity</button>
      </mat-menu>
      <mat-menu #hushBlocks="matMenu">
        <button class="sub-header" (click)="goToFeature('hush-blocks/design')" mat-menu-item>Design</button>
        <button class="sub-header" (click)="goToFeature('hush-blocks/quantity')" mat-menu-item>Quantity</button>
      </mat-menu>
      <mat-menu #hushSwoon="matMenu">
        <button class="sub-header" (click)="goToFeature('hush-swoon/design')" mat-menu-item>Design</button>
        <button class="sub-header" (click)="goToFeature('hush-swoon/quantity')" mat-menu-item>Quantity</button>
      </mat-menu>
    </div>
  </div>
</div>
