.main-navbar {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  padding: 5px 25px 0px 25px;
  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    .left-side {
      .primary-link {
        font-size: 0.85em;
        font-weight: 500;
        margin-right: 15px;
        cursor: pointer;
      }
    }
    .right-side {
      .secondary-link {
        font-size: 0.8em;
        margin-right: 15px;
        cursor: pointer;
        .down-chevron {
          width: 10px;
        }
        .search {
          width: 15px;
        }
      }
      .secondary-link:last-child {
        margin-right: 0px;
      }
    }
  }
  .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .logo {
      width: 120px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .sidenav {
      .sidenav-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 225px;
        background-color: #fff;
        line-height: 3;
        margin-bottom: 2px;
        margin-right: -25px;
        padding-left: 10px;
        cursor: pointer;
        .text {
          font-size: 0.9em;
          font-weight: 500;
          margin-left: 15px;
        }
        .arrow-img img {
          width: 20px;
          margin-right: 25px;
        }
      }
    }
  }
}

.mat-menu-content {
  width: 215px !important;
}
