<div class="main-navbar">
  <div class="top-row">
    <!-- <div class="left-side">
      <span class="primary-link">Inspiration</span>
      <span class="primary-link">Products</span>
      <span class="primary-link">Systems</span>
      <span class="primary-link">Materials</span>
      <span class="primary-link">Installation</span>
      <span class="primary-link">Services</span>
    </div>
    <div class="right-side">
      <span class="secondary-link">US
        <img class="down-chevron" src="/assets/icons/tools/down-chevron-black.png" alt="drop down">
      </span>
      <span class="secondary-link">Sign In</span>
      <span class="secondary-link">Contact a Rep</span>
      <span class="secondary-link">
        <img class="search" src="/assets/icons/zoomin.png" alt="search"> </span>
    </div> -->
  </div>
  <div class="bottom-row">
    <div class="logo">
      <img (click)="goTo3Form()" src="//3form.s3.amazonaws.com/images/navigation/3form_logo.svg" alt="3form">
    </div>
    <div class="sidenav">
      <!-- <span class="sidenav-btn" (click)="toggleSideNav()">
        <span class="text">Configuration Tools</span>
        <span class="arrow-img">
          <img src="/assets/icons/tools/left-arrow.png" alt="Open Sidenav">
        </span>
      </span> -->
    </div>
  </div>
</div>
