<ng-container *ngIf="!!design">
<div class="row">
    <div class="col-sm-2">
      <a class="hidden-print back-to-design" (click)="backToDesign()"><span class="icomoon-chevron-left orange"></span> Back to Design</a>
    </div>
  </div>
  <div class="row header">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <p class="sm">Project: <span class="md info">{{design.project_name}}</span></p>
        </div>
        <div class="col-sm-5">
          <p class="sm">Feature: <span class="md info">{{design.title}} - ID: {{design.id}}</span></p>
        </div>
        <div class="col-sm-1 hidden-print">
          <p class="sm bold print" (click)="print()"><span class="icomoon-print orange"></span> Print</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <p class="sm">Specifier: <span class="md info">{{design.specifier}}</span></p>
        </div>
        <div class="col-sm-5">
          <p class="sm">Est. Total: <span class="md info">{{design.estimated_amount | currency:'USD':true}}<sup>*</sup> USD</span></p>
        </div>
        <div class="col-sm-1">
          <p class="xs bold">{{design.updated_at | date:'shortDate'}}</p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-6">
      <p class="sm">Dimensions: <span class="md info">{{design.width}} W x {{design.length}} L ({{design.units}})</span></p>
      <img class="grid-guide img-responsive" src="{{design.design_data_url}}" alt="Feature Image">
    </div>
    <dl class="dl-horizontal col-sm-6">
        <dt>Feature</dt>
        <dd>{{design.name | capitalize}}</dd>
        <dt>Height</dt>
        <dd>{{design.height}} {{design.units}}</dd>
        <dt>Width</dt>
        <dd>{{design.width}} {{design.units}}</dd>
        <dt *ngIf="design.name === 'curved-partition'">Radius</dt>
        <dd *ngIf="design.name === 'curved-partition'">{{design.radius}} {{design.units}}</dd>
        <dt *ngIf="design.name === 'wall-to-ceiling'">Ceiling Length</dt>
        <dd *ngIf="design.name === 'wall-to-ceiling'">{{design.ceiling_length}} {{design.units}}</dd>
        <dt>Pattern</dt>
        <dd>{{tessellationStr | capitalize}}</dd>
        <dt>Pattern Strength</dt>
        <dd>{{design.pattern_strength}}</dd>
        <dt>Color</dt>
        <dd>{{design.material | capitalize}}</dd>
        <dt *ngIf="design.name === 'wall-to-ceiling' || design.name === 'ceiling'">Cove Lighting</dt>
        <dd *ngIf="!design.cove_lighting && (design.name === 'wall-to-ceiling' || design.name === 'ceiling')">No</dd>
        <dd *ngIf="design.cove_lighting && (design.name === 'wall-to-ceiling' || design.name === 'ceiling')">Yes</dd>
        <dt>Estimated Amount</dt>
        <dd>{{design.estimated_amount | currency:'USD':true}} USD</dd>
        <dt>Project Name</dt>
        <dd>{{design.project_name}}</dd>
        <dt>Specifier</dt>
        <dd>{{design.specifier}}</dd>
      </dl>
  </div>

  <div class="row footer">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-2">
          <div class="logo">
            <img src="//3form.s3.amazonaws.com/images/navigation/3form_logo.svg" alt="3form">
          </div>
        </div>
        <div class="col-sm-10" *ngIf="rep">
          <p class="rep-name"><span class="bold">{{rep.name}}</span> Sales Rep</p>
          <p class="rep-info">{{rep.phone}} | {{rep.email}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-9">
          <p class="xs"><sup>*</sup>Taxes, Shipping and Handling not included</p>
        </div>
        <div class="col-sm-3">
          <p class="xs orange pull-right">3-form.com</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
