<h3>Tile Usage information</h3>
<p class="sm">Velo tiles are sold in quantities of 8. <span class="note">(single material and color with any combination
  of
  convex
  and concave tiles)</span></p>
<table class="table table-striped" *ngIf="this.feature.veloHasFelt()">
  <tr>
    <th width="92px">Merino Felt</th>
    <th>Convex</th>
    <th>Concave</th>
    <th>Unused</th>
    <th class="border-left">Receiving</th>
  </tr>
  <tr *ngFor="let tile of feltTiles | keys">
    <td *ngIf="tile.image"><img src="{{tile.image}}" alt="{{tile.material}} - {{tile.tile}}" class="circle" mdTooltip="{{tile.material | capitalize}}" [mdTooltipPosition]="position"></td>
    <td>{{tile.convex}}</td>
    <td>{{tile.concave}}</td>
    <td>{{tile.purchased - (tile.convex + tile.concave)}}</td>
    <td class="border-left">{{tile.purchased}}</td>
  </tr>
</table>

<table class="table table-striped" *ngIf="this.feature.veloHasVaria()">
  <tr>
    <th width="92px">Varia</th>
    <th>Diffusion</th>
    <th>Convex</th>
    <th>Concave</th>
    <th>Unused</th>
    <th class="border-left">Receiving</th>
  </tr>
  <tr *ngFor="let tile of variaTiles | keys">
    <td *ngIf="tile.image"><img src="{{tile.image}}" alt="{{tile.material}} - {{tile.tile}}" class="circle" mdTooltip="{{variaTooltip(tile) | capitalize}}" [mdTooltipPosition]="position"></td>
    <td>{{diffusionString(tile.diffusion)}}</td>
    <td>{{tile.convex}}</td>
    <td>{{tile.concave}}</td>
    <td>{{tile.purchased - (tile.convex + tile.concave)}}</td>
    <td class="border-left">{{tile.purchased}}</td>
  </tr>
</table>
