table td {
  vertical-align: middle;
}
.border-left {
  border-left: 1px solid #cdcdcd;
}
.no-border-top th {
  border-top: none;
}
.circle {
  border-radius: 24px;
  width: 48px;
}
span.note {
  font-size: 10px;
  display: block;
}
