.addQty-dialog-container {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.section {
  margin: 10px 15px;
}

/* Materials */
.materials {
  margin-bottom: 10px;
}

.material {
  padding: 5px;
  cursor: pointer;
}

.materials .circle {
  width: 38px;
  border-radius: 50%;
}


.action-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.action-btns :last-child {
  margin: 0 15px;
}

/* Keep below other borders so it will override the default border */
.selected {
  border: 2px solid #ff9933;
}
