.addQty-dialog-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  .dialog-header {
    font-size: 1.3em;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    margin-bottom: 15px;
  }
  .tile-selection {
    .tile-options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .tile-option-row>div {
        padding: 5px;
        border: 2px solid #efefef;
      }
      .tile-img {
        max-height: 60px;
      }
    }
  }
  .material-selection {
    .materials div {
      display: flex;
      flex-wrap: wrap;
      max-height: 250px;
      overflow: auto;
    }
    .materials div div div img,
    .materials div div div .chroma-materials {
      width: 60px;
      height: 70px;
    }
  }
  .quantity-selection {
    padding-top: 10px;
    margin-bottom: 40px;
    input {
      max-width: 200px;
    }
  } // .selection-total {
  //   margin-bottom: 25px;
  //   .selection-summary {
  //     min-height: 50px;
  //     margin-bottom: 10px;
  //   }
  //   .selection {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     .selection-img {
  //       max-height: 48px;
  //     }
  //   }
  //   .selection * {
  //     margin: 0px 5px;
  //   }
  // }
  .footer {
    .action-btns {
      width: 100%;
      display: flex;
    }
    .action-btns>button {
      width: 130px;
      margin: 10px 15px 10px 0px;
      line-height: 3;
      background-color: #f5f5f5;
      border: none;
    }
  }
  p {
    font-size: 0.9em;
    font-weight: 500;
  }
}

.section {
  padding: 10px 0px 25px 0px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Keep below other borders so it will override the default border */

.selected {
  border: 2px solid #ff9e1b !important;
}

// .addQty-dialog-container {
//   min-width: 400px;
//   display: flex;
//   flex-direction: column;
// }
// .section {
//   margin: 10px 15px;
// }
// .tile-options {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
// .tile-option-row {
//   width: auto;
// }
// /* Materials */
// .materials {
//   margin-bottom: 10px;
// }
// .material {
//   padding: 5px;
//   cursor: pointer;
// }
// .materials .circle {
//   width: 38px;
//   border-radius: 50%;
// }
// .action-btns {
//   width: 100%;
//   display: flex;
//   justify-content: flex-end;
// }
// .action-btns :last-child {
//   margin-left: 15px;
// }
// .selection-summary {
//   min-height: 50px;
//   margin-bottom: 10px;
// }
// .selection {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .selection * {
//   margin: 0px 5px;
// }
// .selection-img {
//   max-height: 48px;
// }
// .rotate-90 {
//   -webkit-transform: rotate(90deg);
//   -moz-transform: rotate(90deg);
//   -o-transform: rotate(90deg);
//   -ms-transform: rotate(90deg);
//   transform: rotate(90deg);
// }
// /* Keep below other borders so it will override the default border */
// .selected {
//   border: 2px solid #ff9e1b;
// }
