<div class="addQty-dialog-container form-group">
  <div *ngIf="qtySrv.feature_type !== 'hush'" class="row section">
    <p class="md">Tile Type</p>
    <div *ngFor="let tile of featureTiles | keys" matTooltip="{{tile.tile | capitalize}}" [matTooltipPosition]="position" (click)="updateSelectedTile(tile.tile)" [class.col-sm-5]="tile.tile==48" [class.col-sm-3]="tile.tile!=48" class="tile-container tooltip-host">
      <div class="tile" [class.selected]="selectedTile==tile.tile">
        <img src="{{tile.image}}" alt="{{tile.tile | capitalize}}" class="img-responsive">
      </div>
      <p class="text-center xs">{{tile.name | capitalize}}</p>
    </div>
  </div>

  <div class="section">
    <p class="md">Material</p>
    <div class="materials">
      <div *ngFor="let material of materials | keys" (click)="updateSelectedMaterial(material.material)">
        <div *ngIf="material.status === 'active'"  matTooltip="{{material.material | capitalize}}" class="material col-sm-2 tooltip-host" [matTooltipPosition]="position">
          <img src="{{material.image}}" alt="{{material.material | capitalize}}" class="circle img-responsive" [class.selected]="((!!selectedMaterial) && selectedMaterial == material.material.toLowerCase())">
        </div>
      </div>
    </div>
  </div>

  <div class="row section">
    <p class="md">Quantity</p>
    <input [(ngModel)]="selectedQuantity" #quantityInput="ngModel" required (change)="quantityDidChange(quantityInput.value)" required type="number" class="form-control number-input square" placeholder="Quantity" name="Quantity" id="quantity">
  </div>

  <div class="row section">
    <p class="md">Selection</p>
    <div class="selection-summary">
      <div class="md selection">
        <div>
          <p class="md" *ngIf="(!!selectedQuantity && selectedQuantity > 0)">{{selectedQuantity}} x</p>
        </div>
        <div>
          <img *ngIf="!!selectedMaterialImg && (selectedMaterialImg.indexOf('undefined') < 0)" src="{{selectedMaterialImg}}" matTooltip="{{selectedMaterial | capitalize}}" class="img-responsive tooltip-host" alt="{{selectedMaterial | capitalize}}" [matTooltipPosition]="position">
        </div>
      </div>
    </div>
  </div>

  <div class="footer section">
    <div *ngIf="!isEditing" class="action-btns">
      <button class="button button-gray" (click)="addToOrder()" [disabled]="!validateQtyInputs()">ADD TILES</button>
    </div>
    <div *ngIf="isEditing" class="action-btns">
      <button class="button button-gray" (click)="cancel()">Cancel</button>
      <button class="button button-gray" (click)="addToOrder()" [disabled]="!validateQtyInputs()">SAVE</button>
    </div>
  </div>
</div>
