<div class="right-section">
  <div class="subtitle">Grid and Guides</div>
  <div class="description">Design dimensions are shown by a blue grid.</div>
  <div class="images grid-and-guide">
    <img src="/assets/images/grid-and-guide.png" alt="Grid with Blue Guides">
    <aside class="note">Tiles extending past the blue guide must be flat tiles to allow cutting.</aside>
  </div>
</div>

<div class="right-section">
  <div class="subtitle">Design</div>
  <div class="description">Choose your baffle design and color.</div>
  <div class="colors">
    <img src="/assets/images/materials/felt/sola/zinc.png" alt="Zinc">
    <img src="/assets/images/materials/felt/sola/citrine.png" alt="Citrine">
    <img src="/assets/images/materials/felt/sola/aries.png" alt="Aries">
    <img src="/assets/images/materials/felt/sola/ruby.png" alt="Ruby">
    <img src="/assets/images/materials/felt/sola/oxford.png" alt="Oxford">
    <img src="/assets/images/materials/felt/sola/hunter.png" alt="Hunter">
  </div>
  <div class="images design">
    <div class="design-img">
      <img src="/assets/images/tiles/00.png" alt="Flat Felt Tile">
    </div>
    <div class="design-img">
      <img src="/assets/images/baffles/baffle_24_x_24.png" alt="24x24 Baffle">
    </div>
    <div class="design-img">
      <img src="/assets/images/baffles/baffle_24_x_48.png" alt="24x48 Baffle">
    </div>
  </div>
</div>

<div class="right-section">
  <div class="subtitle">Modify</div>
  <div class="description">Rotate or remove baffles.</div>
  <div class="images">
    <div class="design-img">
      <div class="img-title">Rotate</div>
      <img class="tool" src="/assets/icons/tools/rotate.png" alt="Rotate Baffles">
    </div>
    <div class="design-img">
      <div class="img-title">Remove</div>
      <img class="tool" src="/assets/icons/tools/remove.png" alt="Remove Baffles">
    </div>
  </div>
</div>

<div class="right-section">
  <div class="subtitle">Fixtures</div>
  <div class="description">Accomodate ceiling fixtures with flat tiles.</div>
  <div class="images">
    <div class="design-img">
      <div class="img-title">Light</div>
      <img class="tool" src="/assets/icons/tools/light.png" alt="Rotate Baffles">
    </div>
    <div class="design-img">
      <div class="img-title">Vent</div>
      <img class="tool" src="/assets/icons/tools/vent.png" alt="Remove Baffles">
    </div>
    <div class="design-img">
      <div class="img-title">Sprinkler</div>
      <img class="tool" src="/assets/icons/tools/sprinkler.png" alt="Remove Baffles">
    </div>
  </div>
</div>
