<div class="right-section">
  <div class="subtitle">Tile Size</div>
  <div class="description">Hush Swoon tiles are 8.66" wide x 5.21" high x 1" deep
    <!-- <br> (60.96cm x 40.64cm)</div> -->
    <div class="images grid-and-guide">
      <img src="/assets/images/tiles/hush-swoon/hush-swoon-measurement.png" alt="Hush Blocks Size. 24 inches by 16 inches.">
    </div>
  </div>

  <div class="right-section">
    <div class="subtitle">Design</div>
    <div class="description">Choose your tile design and color.</div>
    <div class="colors">
      <img src="/assets/images/materials/felt/merino/milky-white.png" alt="Milky White">
      <img src="/assets/images/materials/felt/merino/heather-gray.png" alt="Heather Gray">
      <img src="/assets/images/materials/felt/merino/charcoal.png" alt="Charcoal">
      <img src="/assets/images/materials/felt/merino/heather-charcoal.png" alt="Heather Charcoal">
      <img src="/assets/images/materials/felt/merino/heather-black.png" alt="Heather Black">
      <img src="/assets/images/materials/felt/merino/black.png" alt="Black">
    </div>
  </div>
