<!-- not logged in -->
<div class="center-div" *ngIf="!user.uid">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<!-- logged in but not their design -->
<div *ngIf="feature.uid && user.uid && feature.uid != user.uid">
  <p>You can't save a design that is not yours.</p>
</div>
<!-- logged in -->
<div *ngIf="(feature.uid && feature.uid === user.uid) || (user.uid && !feature.id)">
  <h2 mat-dialog-title class="text-center">Save Your Design</h2>
  <div mat-dialog-content>
    <form (ngSubmit)="saveInvoked()" #saveForm="ngForm" class="save-form">
      <div class="col-sm-12">
        <div class="form-group">
          <mat-input-container class="full-width">
            <input type="text" placeholder="Design Name" name="design_name" id="design-name"
            matInput
            required
            [(ngModel)]="feature.design_name">
          </mat-input-container>
        </div>
      </div>
      <div class="text-center">
        <!-- <button class="button button-gray" [hidden]="saving || !newDesign" type="submit">Save</button>   TODO: What does saving mean?-->
        <button class="button button-gray" *ngIf="newDesign" type="submit">Save</button>
        <button class="button button-gray" *ngIf="!newDesign || feature.quoted" type="submit">Overwrite</button>
        <button class="button button-gray" *ngIf="!newDesign" (click)="newButtonClick()">Save New</button>
        <div class="center-div" *ngIf="saving">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
    </form>
  </div>
</div>
