<!-- not logged in -->
<div class="center-div" *ngIf="!user.uid">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<!-- logged in but not their design -->
<div *ngIf="feature.uid && user.uid && feature.uid != user.uid">
  <div class="sub-header">You can't save a design that is not yours.</div>
</div>
<!-- logged in -->
<div class="modals-container">
  <img class="close-btn" (click)="dialogRef.close('cancel')" src="/assets/icons/tools/x-close.svg" alt="Close Modal">
  <div class="modals-body">
    <div class="modals-header">
      <span>Save your design</span>
      <span></span>
    </div>
    <div class="modals-inputs" *ngIf="!saving">
      <div class="input-line email">
        <div class="sub-header">Design Name</div>
        <input type="text" placeholder="Name" [(ngModel)]="feature.design_name">
      </div>
    </div>
    <div class="modals-action-btns" *ngIf="!saving">
      <div class="save-btn">
        <span appStyledButton='primary-right-large' *ngIf="newDesign">
          <button (click)="saveInvoked()" [disabled]="!feature.design_name && !saving">
            <span>Save</span>
          </button>
        </span>
        <span appStyledButton='primary-right-large' *ngIf="!newDesign">
          <button (click)="saveInvoked()" [disabled]="!feature.design_name && !saving">
            <span>Save New</span>
          </button>
        </span>
        <span appStyledButton='secondary-right' *ngIf="!newDesign">
          <button (click)="newButtonClick()" [disabled]="!feature.design_name && !saving">
            <span>Overwrite</span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>


<!-- <div class="center-div" *ngIf="!user.uid">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>


<div *ngIf="feature.uid && user.uid && feature.uid != user.uid">
  <p>You can't save a design that is not yours.</p>
</div>

<div *ngIf="(feature.uid && feature.uid === user.uid) || (user.uid && !feature.id)">
  <h2 mat-dialog-title class="text-center">Save Your Design</h2>
  <div mat-dialog-content>
    <form (ngSubmit)="saveInvoked()" #saveForm="ngForm" class="save-form">
      <div class="col-sm-12">
        <div class="form-group">
          <mat-form-field class="full-width">
            <input type="text" placeholder="Design Name" name="design_name" id="design-name" matInput required [(ngModel)]="feature.design_name">
          </mat-form-field>
        </div>
      </div>
      <div class="text-center">
        <button class="button button-gray" *ngIf="newDesign" type="submit">Save</button>
        <button class="button button-gray" *ngIf="!newDesign || feature.quoted" type="submit">Overwrite</button>
        <button class="button button-gray" *ngIf="!newDesign" (click)="newButtonClick()">Save New</button>
        <div class="center-div" *ngIf="saving">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
    </form>
  </div>
</div> -->
