<div class="quantity-header">
  <div class="row">
    <a (click)="backToDesign()"><span class="icomoon-chevron-left orange"></span> <span>Back to Design</span></a>
    <div class="header-row">
      <div class="">
        <p class="md title">Order {{headerTitle}} By Quantity</p>
      </div>
      <div class="">
        <p class="md">Est. Total: {{feature.estimated_amount | currency:'USD'}} USD <span class="sm"><sup>*</sup>Taxes, Shipping and Handling not included.</span></p>
      </div>
      <div class="">
        <button *ngIf="!feature.quoted" class="button button-orange design-quote pull-right" [disabled]="((order.data.length === 0) || !orderName)" (click)="requestQuote()">Request Quote</button>
        <button *ngIf="feature.quoted" class="button button-orange design-quote pull-right" (click)="viewDetails()">View Details</button>
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="separator"></div>
</div>
<div class="quantity-ui">
  <div class="col-sm-9 no-padding table-and-footer">
    <div class="table-parent col-sm-12">
      <div class="table-header col-sm-12">
        <span class="order-name">
          <span>Design Name</span>
          <input [(ngModel)]="orderName" required placeholder="Name" type="text">
        </span>
        <span class="save-load">
            <a id="save-btn" title="save design" (click)="saveQuantity()"><span class="icomoon-folder orange"></span>
              <span *ngIf="user.isLoggedIn()">Save</span>
              <span *ngIf="!user.isLoggedIn()">Login to save</span>
            </a> | <a id="load-btn" title="load saved designs" (click)="loadQtyDesigns()">Load</a>
        </span>
        <button class="button add-tiles" (click)="addToOrder()">Add Tiles</button>
      </div>
      <div class="table-container">
        <div class="example-container">
          <p *ngIf="(order.data.length === 0)" class="md center-text add-to-order">
            Select "Add Tiles" to begin.
          </p>
          <mat-table #table [dataSource]="order.data" *ngIf="(order.data.length > 0)">
            <ng-container matColumnDef="ordered">
              <mat-header-cell *matHeaderCellDef> Used / Receiving </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.used}} / {{element.purchased}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="material">
              <mat-header-cell *matHeaderCellDef> Material </mat-header-cell>
              <mat-cell *matCellDef="let element" class="material-column">
                  <img src="{{element.image}}" class="img-responsive table-img" alt="{{element.material.name_str | capitalize}}">
                  {{element.material | capitalize}}-{{element.tile}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef> Est. Total </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.total | currency:'USD'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;" class="edit-column">
                <span class='icomoon-pencil orange' (click)="editRow(i, row)"></span>
                <span class='icomoon-remove2 delete-icon orange' (click)="deleteRow(i, row)"></span>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
    <div class="filler"></div>
    <div class="left-footer">
      <div class="">
        <div class="logo">
          <img src="//3form.s3.amazonaws.com/images/navigation/3form_logo.svg" alt="3form">
        </div>
      </div>
      <div class="">
        <p class="tile-package-information">
          {{feature.packageInformation()}}
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 right-column">
    <div class="col-sm-12 no-padding sq-footage">
      <h3>Estimator</h3>
      <p class="">Enter square footage to calculate how many tiles are needed.</p>
      <div class="sqFt-row">
        <span class="tiles-needed">SqFt:</span>
        <input [(ngModel)]="sqFootage" (keyup)="calcSqFootage()" placeholder="Sq Footage" type="number">
      </div>
      <div *ngIf="!!sqFootage" class="">
        <p><strong>{{tilesNeeded}}</strong> tiles are required to cover <strong>{{sqFootage}}</strong> square feet.</p>
        <p><strong>{{tilesUsed}} / {{tilesNeeded}}</strong> are selected.</p>
        <!-- <p></p> -->
      </div>
      <!-- <div class="sqFt-row">
        <span class="tiles-needed">Tiles Needed:</span>
        <input type="number" disabled [(ngModel)]='tilesNeeded'>
      </div>
      <div class="sqFt-row">
        <span class="tiles-needed">Tiles Remaining:</span>
        <input type="number" disabled [(ngModel)]="tilesNeeded - tilesUsed">
      </div> -->
    </div>
    <div class="filler"></div>
    <div class="col-sm-12 no-padding">
      <hr>
      <h3>Quantities</h3>
      <!-- <p class="">Est Total: {{estimatedPrice | currency:'USD'}}</p> -->
      <p class="">Tiles Used/Receiving: {{tilesUsed}}/{{tilesReceiving}}</p>
      <p class="">SqFt. Used/Receiving: {{sqFtUsed}}/{{sqFtReceiving}}</p>
    </div>
  </div>


</div>

