.quantity-ui {
  height: 580px;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 30px;
}

span.sm {
  font-size: 10px;
  font-weight: 300;
}

.separator {
  background-color: #fff;
  border-bottom: 2px solid #cdcdcd;
  margin: 0 15px;
}

.no-padding {
  padding: 0px;
}

.table-and-footer {
  height: 580px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}

.table-parent {
  display: flex;
  flex-direction: column;
}

.table-header {
  margin: 15px 0px;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button.add-tiles {
  border: 1px solid #ff8000;
  color: #ff8000;
}

.button.add-tiles:hover {
  background-color: #f93;
  color: #fff;
}

.order-name {
  font-size: 18px;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background: white;
}

.table-container {
  max-height: 500px;
  overflow: auto;
  margin-bottom: 15px;
}

.table-img {
  max-height: 50px;
  margin: 3px 0px;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.center-text {
  text-align: center;
}

.add-to-order {
  margin-top: 30px;
}

.mat-cell:last-child,
.mat-header-cell:last-child {
  flex: 0 0 8%;
}

.mat-cell:last-child * {
  cursor: pointer;
  font-size: 1.1em;
}

.material-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.material-column img {
  margin-right: 10px;
}

.delete-icon {
  margin-left: 15px;
}

.right-column {
  border-left: 2px solid #cdcdcd;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filler {
  flex: 1;
}

.left-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sq-footage {
  margin-top: 15px;
  min-height: 200px;
}

.sqFt-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.sqFt-row input {
  width: 125px;
}

.sq-footage-results {
  margin-top: 15px;
}

.sqFt-label {
  margin-right: 15px;
}

.logo {
  padding: 0px 15px;
}

.logo img {
  width: 100px;
}

.tile-package-information {
  text-align: right;
  margin: 3px 30px 0 0;
}
