<div class="right-section">
  <div class="subtitle">Grid and Guides</div>
  <div class="description">A 15/16" or 9/16" grid system is required for this product.</div>
  <div class="description">Design dimensions are shown by a blue grid.</div>
  <div class="images grid-and-guide">
    <img src="/assets/images/grid-and-guide.png" alt="Grid with Blue Guides">
    <aside class="note">Tiles extending past the blue guide must be flat tiles to allow cutting.</aside>
  </div>
</div>

<div class="right-section">
  <div class="subtitle">Design</div>
  <div class="description">Choose your baffle color and design.</div>
  <div class="colors">
    <img src="/assets/images/materials/felt/merino/milky-white.png" alt="Milky White">
    <img src="/assets/images/materials/felt/merino/heather-gray.png" alt="Heather Gray">
    <img src="/assets/images/materials/felt/merino/charcoal.png" alt="Charcoal">
    <img src="/assets/images/materials/felt/merino/heather-charcoal.png" alt="Heather Charcoal">
    <img src="/assets/images/materials/felt/merino/heather-black.png" alt="Heather Black">
    <img src="/assets/images/materials/felt/merino/black.png" alt="Black">
  </div>
  <div class="images design">
    <div class="design-img">
      <img src="/assets/images/tiles/01.png" alt="Tile 01">
    </div>
    <div class="design-img">
      <img src="/assets/images/tiles/02.png" alt="Tile 02">
    </div>
    <div class="design-img">
      <img src="/assets/images/tiles/03.png" alt="Tile 03">
    </div>
    <div class="design-img">
      <img src="/assets/images/tiles/00.png" alt="Tile 00">
    </div>
  </div>
</div>

<div class="right-section">
  <div class="subtitle">Modify</div>
  <div class="description">Rotate or remove baffles.</div>
  <div class="images">
    <div class="design-img">
      <div class="img-title">Rotate</div>
      <img class="tool" src="/assets/icons/tools/rotate.png" alt="Rotate Baffles">
    </div>
    <div class="design-img">
      <div class="img-title">Remove</div>
      <img class="tool" src="/assets/icons/tools/remove.png" alt="Remove Baffles">
    </div>
  </div>
</div>

<div class="right-section">
  <div class="subtitle">Fixtures</div>
  <div class="description">Accomodate ceiling fixtures with flat tiles.</div>
  <div class="images">
    <div class="design-img">
      <div class="img-title">Light</div>
      <img class="tool" src="/assets/icons/tools/light.png" alt="Rotate Baffles">
    </div>
    <div class="design-img">
      <div class="img-title">Vent</div>
      <img class="tool" src="/assets/icons/tools/vent.png" alt="Remove Baffles">
    </div>
    <div class="design-img">
      <div class="img-title">Sprinkler</div>
      <img class="tool" src="/assets/icons/tools/sprinkler.png" alt="Remove Baffles">
    </div>
  </div>
</div>
