.materials-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .materials span img {
    height: 50px;
    width: 37px;
  }
}

.actions {
  margin: 5px 0px;
  button {
    border: 1px solid black;
    padding: 5px 15px;
    margin-right: 15px;
  }
}
