<div class="right-section">
  <div class="subtitle">Grid and Guides</div>
  <div class="description">Design dimensions are shown by a blue grid.</div>
  <div class="images guides">
    <img src="/assets/images/profile/swoon/standard-tile-measurement.png" alt="Standard Tile Dimensions">
    <img src="/assets/images/profile/swoon/acoustic-tile-measurement.png" alt="Acoustic Tile Dimensions">
  </div>
</div>

<div class="right-section">
  <div class="subtitle">Design</div>
  <div class="description">Choose your tile design and color.</div>
  <div class="images design">
    <div class="design-img">
      <div class="img-title">Standard</div>
      <img src="/assets/images/profile/swoon/standard-tile.png" alt="Standard Tile Dimensions">
    </div>
    <div class="design-img">
      <div class="img-title">Acoustic</div>
      <img src="/assets/images/profile/swoon/acoustic-tile.png" alt="Acoustic Tile Dimensions">
    </div>
    <div class="design-img">
      <div class="img-title">Chroma</div>
      <img src="/assets/images/profile/swoon/chroma-tile.png" alt="Acoustic Tile Dimensions">
    </div>
  </div>
</div>
