.velo-grid-container {
  position: relative;
  margin-left: -15px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  padding: 0px 15px;
}

.logo img {
  width: 100px;
}

.separator {
  background-color: #fff;
  border-bottom: 2px solid #cdcdcd;
  margin: 0 15px;
}

span.sm {
  font-size: 10px;
}

.design-header {
  background-color: #fff;
  padding: 10px 15px;
}

.design-header p {
  margin-bottom: 0;
}

.design-header .project-name {
  border-right: 2px solid #cdcdcd;
}

.design-ui {
  background-color: #fff;
  height: 570px;
  padding: 5px 15px;
  overflow: auto;
}

.grid-wrapper {
  border-right: 2px solid #cdcdcd;
  height: 100%;
  overflow: auto;
}

.grid-header {
  padding: 2px 0 5px 0;
}

.full-height{
  height: 100%;
}

.edit-link {
  font-size: 12px;
}

/* Tiles */
.tiles p {
  margin: 0;
}

.tile-container {
  padding: 5px;
}

.tile {
  border: 2px solid #e7e7e7;
  cursor: pointer;
  padding: 5px;
}

/* Materials */
.materials {
  margin-bottom: 10px;
}

.material {
  padding: 5px;
  cursor: pointer;
}

.materials .circle {
  width: 38px;
  height: 38px;
  border-radius: 19px;
}

.varia-materials {
  max-height: 196px;
  overflow: auto;
}

.velo-materials .circle {
  width: 38px;
  height: 38px;
  border-radius: 19px;
}

/* Actions */
.actions {
  padding: 2px;
}

/* Tools */
.tools-header {
  padding: 2px;
}

.tool-container {
  padding: 0;
  font-size: 12px;
}

.tool {
  border: 2px solid #e7e7e7;
  border-right: none;
  cursor: pointer;
  padding: 15px;
  width: 52px;
}

.grid-tool {
  border: 2px solid #e7e7e7;
  border-right: none;
  cursor: pointer;
  padding: 15px;
  width: 52px;
  margin: 0px -2px;
}

.grid-tool span {
  font-size: 36px;
  line-height: 20px;
}

.grid-tool-spacer {
  margin-left: 15px;
}

.velo-diffusion {
  padding: 0;
  border-right: 2px solid #e7e7e7;
}

.velo-diffusion-list {
  margin: 0;
}

 .velo-diffusion-list p {
  font-size: 10px;
}

.tile-package-information {
  text-align: right;
  margin: 3px 30px 0 0;
}

.toggle-button-form-wrapper {
  display: inline-block;
  padding-right: 15px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

hr.nine-pixels {
  margin-top: 9px;
  margin-bottom: 9px;
}

/* Keep below other borders so it will override the default border */
.selected {
  border: 2px solid #ff9933;
}
