<div class="container-fluid">
  <!-- <design-header></design-header> -->
  <div class="row design-header">
    <div class="col-sm-4">
      <p class="md project-name">Project Name <a id="edit-project-name" class="edit-link" title="Edit Project Name">Edit</a></p>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <p class="md">Est. Total: $99,999.99 USD<sup>*</sup></p>
        </div>
        <div class="col-sm-6">
          <button class="button button-orange design-quote pull-right">Design Quote</button>
        </div>
      </div>
    </div>
  </div>
  <div class="design-ui">
    <div class="row full-height">
      <div class="col-sm-8 full-height">
        <div class="grid-wrapper">
          <!-- <grid-header></grid-header> -->
          <div class="row">
            <div class="col-sm-6">
              <p>999999 W x 99999 H | 24 x 24 Tile <a id="edit-grid" class="edit-link" title="Edit Grid Size">Edit</a></p>
            </div>
            <div class="col-sm-3">
              <p>
                <a id="save-btn" title="save design"><span class="icomoon-folder-plus"></span> Save</a> |
                <a id="load-btn" title="load saved designs"><span class="icomoon-export"></span> Load</a>
              </p>
            </div>
            <div class="col-sm-3">
              <p><a id="download-btn" title="download image of design"><span class="icomoon-download"></span> Download Image</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <!-- <grid></grid> -->
              <div class="grid" id="grid">the grid shall appear here!</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 full-height">
        <!-- <tools></tools> -->
        <p class="md">Design</p>
        <div class="row tiles">
          <div class="col-sm-3 tile tooltip-host" mdTooltip="Tile One" [mdTooltipPosition]="position" (click)="updateSelectedTile('one')" [class.selected]="selectedTile=='one'">
            <img src="/assets/images/tiles/one.jpg" alt="Tile One" class="img-responsive">
          </div>
          <div class="col-sm-3 tile tooltip-host" mdTooltip="Tile Two" [mdTooltipPosition]="position" (click)="updateSelectedTile('two')" [class.selected]="selectedTile=='two'">
            <img src="/assets/images/tiles/two.jpg" alt="Tile Two" class="img-responsive">
          </div>
          <div class="col-sm-3 tile tooltip-host" mdTooltip="Tile Three" [mdTooltipPosition]="position" (click)="updateSelectedTile('three')" [class.selected]="selectedTile=='three'">
            <img src="/assets/images/tiles/three.jpg" alt="Tile Three" class="img-responsive">
          </div>
          <div class="col-sm-3 tile tooltip-host" mdTooltip="Tile Four" [mdTooltipPosition]="position" (click)="updateSelectedTile('four')" [class.selected]="selectedTile=='four'">
            <img src="/assets/images/tiles/four.jpg" alt="Tile Four" class="img-responsive">
          </div>
        </div>
        <div class="row colors">
          <div *ngFor="let color of colors" mdTooltip="{{color}}" [mdTooltipPosition]="position" (click)="updateSelectedColor(color)" class="col-sm-2 color tooltip-host">
            <div class="circle" [class.selected]="selectedColor==color">{{color}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button class="button button-gray return-ceilings">Apply All</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <p class="md">Modify</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-4">
                <div class="design-control">
                  Light
                </div>
              </div>
              <div class="col-sm-4">
                <div class="design-control">
                  Sprinkler
                </div>
              </div>
              <div class="col-sm-4">
                <div class="design-control">
                  Air Vent
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="row">
              <div class="col-sm-6">
                <div class="design-control">
                  Rotate
                </div>
              </div>
              <div class="col-sm-6">
                <div class="design-control">
                  Remove
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="xs"><sup>*</sup>Taxes, Shipping and Handling not included.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
