<div class="row">
  <div class="col-xs-11">
    <div class="intro">
      <h2>{{title | capitalize}}</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 left-pane">
    <div class="row">
      <div class="col-sm-12">
        <p>Simply choose a tile design (concave or convex), material (Merino Felt or Varia), and color to start
          designing. Place your tiles wherever you wish in the 384" x 240" canvas. You can create multiple Velo
          groupings within a single canvas.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Design Name</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="form-group">
          <input [(ngModel)]="feature.design_name" type="text" class="form-control square" placeholder="Name" name="design-name" id="design-name-input" autofocus>
        </div>
      </div>
      <div class="col-sm-3 options-load">
        <a id="load-btn" title="load saved designs" (click)="feature.loadDesigns()"><span class="icomoon-folder orange"></span> Load</a>
      </div>
    </div>
    <hr>
    <button class="button button-orange start-designing" (click)="dialogRef.close('start designing')" [disabled]="validateOptions()">start designing</button>
    <div class="back">
      <a id="back-to-landing" class="back-to-landing" (click)="goToLanding()">< Choose a New Design Tool</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-5 col-sm-offset-1 right-pane">
    <div class="velo-tile-size">
      <h3>Tile Size</h3>
      <p>Tile dimensions are 24" x 16" (60.96cm x 40.64cm)</p>
      <img src="/assets/images/velo-tile-size.png" alt="Velo Tile Size. 24 inches by 16 inches.">
    </div>
    <div id="design">
      <h3>Design</h3>
      <p>Choose your {{feature.getTileType()}} design and color.</p>
      <div id="tiles">
        <ul class="list-inline">
          <li class="velo-tile"><img src="/assets/images/velo/concave.png" alt="Concave" class="img-responsive"></li>
          <li class="velo-tile"><img src="/assets/images/velo/convex.png" alt="Convex" class="img-responsive"></li>
          <li class="material"><img src="/assets/images/materials/felt/merino/milky-white.png" alt="Milky White" class="img-responsive"></li>
          <li class="material"><img src="/assets/images/materials/felt/merino/heather-gray.png" alt="Heather Gray" class="img-responsive"></li>
          <li class="material"><img src="/assets/images/materials/felt/merino/charcoal.png" alt="Charcoal" class="img-responsive"></li>
          <li class="material"><img src="/assets/images/materials/felt/merino/heather-charcoal.png" alt="Heather Charcoal" class="img-responsive"></li>
          <li class="material"><img src="/assets/images/materials/felt/merino/heather-black.png" alt="Heather Black" class="img-responsive"></li>
          <li class="material"><img src="/assets/images/materials/felt/merino/black.png" alt="Black" class="img-responsive"></li>
        </ul>
      </div>
      <div class="diffusions">
        <p>Add either Avalanche D01 or Vapor W05 diffusion layer.</p>
        <ul class="list-inline">
          <li class="tool-container" (click)="feature.updateSelectedTool('avalanche_d01')">
            <div class="tool velo-diffusion" [class.selected]="feature.selectedTool=='avalanche_d01'">
              <img class="img-responsive" src="/assets/icons/tools/avalanche_d01.jpg" alt="Avalanche D01">
            </div>
          </li>
          <li class="tool-container" (click)="feature.updateSelectedTool('vapor_w05')">
            <div class="tool velo-diffusion" [class.selected]="feature.selectedTool=='vapor_w05'">
              <img class="img-responsive" src="/assets/icons/tools/vapor_w05.jpg" alt="Vapor W05">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="modify">
      <h3>Modify</h3>
      <p>Remove tiles as needed.</p>
      <ul class="list-inline tools">
        <li *ngFor="let tool of modifyToolsArray last as isLast; index as i" class="tool-container" [class.add-margin-left]="i === 2">
          <div class="tool" [class.add-border-right]="isLast">
            <img src="/assets/icons/tools/{{tool}}.png" alt="{{tool | capitalize}}" class="img-responsive">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
