/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import '~https://fonts.googleapis.com/icon?family=Material+Icons'; */
@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.eot?#iefix') format('embedded-opentype'),
     url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.woff2') format('woff2'),
     url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.woff') format('woff');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}

.Graphik-MediumItalic-Web {
  font-family: 'Graphik Web';
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.woff2') format('woff2'),
     url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.Graphik-Medium-Web {
  font-family: 'Graphik Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
     url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.woff2') format('woff2'),
     url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

.Graphik-RegularItalic-Web {
  font-family: 'Graphik Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
     url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.woff2') format('woff2'),
     url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.Graphik-Regular-Web {
  font-family: 'Graphik Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

h1 {
  font-size: 32px;
}

body {
  font-family: 'Graphik Web';
}

input.square {
  border-radius: 0;
}

.add-border-right {
  box-shadow: inset -2px 0 0 0 #E7E7E7;
}

.add-border-right.selected {
  box-shadow: none;
}

.add-margin-left {
  margin-left: 20px;
}

#save-btn, #load-btn{
  color: #666;
  cursor: pointer;
  transition: all .2s ease;
}

#save-btn:hover, #load-btn:hover {
  text-decoration: none;
}

#save-btn span.orange, #load-btn span.orange {
  color: #ff9933;
}

/* Bootstrap overrides */
/*updates to the buttons just for ceilings*/
.button {
  font-weight: 500;
  padding: 6px 24px;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}

.button.orange {
  border: 1px solid #ff9933;
}

.button.orange:hover, .button.orange:focus {
  background-color: #ff9933;
  color: #fff;
}

.breadcrumb {
  background-color: #fff;
  color: #666;
  margin-bottom: 0;
}

.breadcrumb > .active, .breadcrumb>li+li:before {
  color: #666;
}

/* more appropriate link colors */
a {
  color: #ff9933;
  cursor: pointer;
}

a:hover {
  color: #ff8000;
}

a:hover, a:visited {
  color: #ff8000;
  text-decoration: underline;
}

.number-input {
  text-align: right;
}

/* 5 equal columns in 12 column grid */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 2px;
  padding-left: 2px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
/* end 5 equal columns in 12 column grid*/

/* Media */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

/* Medium Large (iPad 1024 and up) */
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
