/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '~https://fonts.googleapis.com/icon?family=Material+Icons'; */

@import '~@angular/material/theming';
@include mat-core();
$primary-black: ( 50: #000, 100: #000, 200: #000, 300: #000, 400: #000, 500: #000, 600: #000, 700: #000, 800: #000, 900: #000, A100: #e7e7e7, A200: #bbb, A400: #000, A700: #000, contrast: ( 50: white, 100: white, 200: white, 300: white, 400: white, 500: white, 600: white, 700: white, 800: white, 900: white, A100: white, A200: white, A400: white, A700: white, ));
$secondary-orange: ( 50: #ff9e1b, 100: #ff9e1b, 200: #ff9e1b, 300: #ff9e1b, 400: #ff9e1b, 500: #ff9e1b, 600: #ff9e1b, 700: #ff9e1b, 800: #ff9e1b, 900: #ff9e1b, A100: #ff9e1b, A200: #ff9e1b, A400: #ff9e1b, A700: #ff9e1b, contrast: ( 50: white, 100: white, 200: white, 300: white, 400: white, 500: white, 600: white, 700: white, 800: white, 900: white, A100: white, A200: white, A400: white, A700: white, ));
$custom-theme-primary: mat-palette($primary-black, A200, A100, A400);
$custom-theme-accent: mat-palette($secondary-orange, A200, A100, A400);
// The warn palette is optional (defaults to red).
$custom-theme-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($custom-theme);
@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.eot?#iefix') format('embedded-opentype'), url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.woff2') format('woff2'), url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

.Graphik-MediumItalic-Web {
  font-family: 'Graphik Web';
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'), url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.woff2') format('woff2'), url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.Graphik-Medium-Web {
  font-family: 'Graphik Web';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.eot?#iefix') format('embedded-opentype'), url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.woff2') format('woff2'), url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

.Graphik-RegularItalic-Web {
  font-family: 'Graphik Web';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'), url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.woff2') format('woff2'), url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

$primary-orange: #ff9e1b;
.Graphik-Regular-Web {
  font-family: 'Graphik Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

h1 {
  font-size: 32px;
}

body {
  font-family: 'Graphik Web';
  background-color: #fff;
  color: #1f1f1f;
}

input:focus {
  outline: none !important;
  border: 2px solid $primary-orange;
  box-shadow: none !important;
}

select:focus {
  outline: none !important;
  border: 2px solid $primary-orange !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  border: 2px solid $primary-orange !important;
  box-shadow: none !important;
}

input {
  text-indent: 8px;
  line-height: 1.8em;
}

.sub-header {
  font-weight: 500;
  font-size: 0.9em;
  padding: 5px 0px;
}

.description-text {
  font-size: 0.8em;
  padding: 2px 0px;
}

input.square {
  border-radius: 0;
}

.save-load-btn-fmt {
  display: flex;
  align-items: center;
}

.save-load-btn-fmt a {
  cursor: pointer;
  padding: 0px 5px;
}

.save-load-btn-fmt img {
  max-height: 15px;
  margin-right: 5px;
}

.load-btn-fmt {
  display: flex;
  align-items: center;
}

.load-btn-fmt span {
  padding-left: 15px;
}

.load-btn-fmt img {
  max-height: 15px;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

mat-button-toggle {
  border: 1px solid !important;
  border-color: #e8e8e8;
  height: 34px;
  width: 50px;
}

.mat-button-toggle-checked {
  border-color: #000 !important;
  background-color: #fff;
  color: black;
}

mat-button-toggle-group {
  box-shadow: none !important;
  margin-top: -8px;
}

label.mat-button-toggle-label {
  height: 100%;
  margin-top: -2px;
  font-weight: 500;
}

label div.mat-button-toggle-label-content {
  height: 100%;
}

mat-expansion-panel {
  box-shadow: none !important;
  border-bottom: 1px solid #bbb;
}

mat-expansion-panel-header {
  padding: 0px 1px !important;
}

.mat-expansion-panel-body {
  padding: 0px 0px 10px 0px !important;
}

mat-expansion-panel-header .mat-content {
  align-items: center;
}

mat-expansion-panel-header .mat-content mat-icon {
  height: 18px;
  width: 18px;
}

mat-expansion-panel-header-title,
mat-expansion-panel-header-description {
  flex-basis: 0 !important;
}

mat-expansion-panel-header-description {
  justify-content: space-between !important;
  align-items: center !important;
}

mat-ink-bar {
  background-color: #000;
}

mat-tab-header {
  border: 0px !important;
}

.mat-tab-label,
.mat-tab-label-active {
  min-width: 0 !important;
  padding: 0px !important;
  margin: 0px 15px 0px 0px !important;
  height: inherit !important;
}

.mat-tab-label-content {
  color: black !important;
  font-size: 0.9em !important;
  font-weight: 500 !important;
}

.add-margin-left {
  margin-left: 20px;
}

/* span.orange {
  color: $primary-orange;
} */

/* p.orange {
  color: $primary-orange;
}

.add-border-right {
  box-shadow: inset -2px 0 0 0 #E7E7E7;
}

.add-border-right.selected {
  box-shadow: none;
}

.add-margin-left {
  margin-left: 20px;
}

#save-btn,
#load-btn {
  color: #666;
  cursor: pointer;
  transition: all .2s ease;
}

#save-btn:hover,
#load-btn:hover {
  text-decoration: none;
}

#save-btn span.orange,
#load-btn span.orange {
  color: $primary-orange;
} */

/* Bootstrap overrides */

/*updates to the buttons just for ceilings*/

/* .button {
  font-weight: 500;
  padding: 6px 24px;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}

.button.orange {
  border: 1px solid $primary-orange;
}

.button.orange:hover,
.button.orange:focus {
  background-color: $primary-orange;
  color: #fff;
} */

/* more appropriate link colors */

/* a {
  color: $primary-orange;
  cursor: pointer;
}

a:hover {
  color: #ff8000;
}

a:hover,
a:visited {
  color: #ff8000;
  text-decoration: underline;
}

.number-input {
  text-align: right;
} */

/* 5 equal columns in 12 column grid */

/* .col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 2px;
  padding-left: 2px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
} */

/* end 5 equal columns in 12 column grid*/

/* Media */

/* Small devices (tablets, 768px and up) */

/* @media (min-width: 768px) {} */

/* Medium devices (desktops, 992px and up) */

/*
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
} */

/* Medium Large (iPad 1024 and up) */

/* @media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
} */

/* Large devices (large desktops, 1200px and up) */

/* @media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
} */

/* Overwrite some default css styles */

/*
div.mat-tab-label {
  min-width: 72px;
  height: 25px;
}

.mat-tab-header-pagination {
  display: none;
}

.mat-tab-group.mat-primary .mat-tab-label:focus,
.mat-tab-group.mat-primary .mat-tab-link:focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
  background-color: rgba(255, 153, 51, .3);
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $primary-orange;
}

.small-toggle .mat-button-toggle-label-content {
  line-height: 24px;
} */
