/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import '~https://fonts.googleapis.com/icon?family=Material+Icons'; */

@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.eot?#iefix') format('embedded-opentype'), url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.woff2') format('woff2'), url('https://3form.s3.amazonaws.com/fonts/Graphik-MediumItalic-Web.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

.Graphik-MediumItalic-Web {
  font-family: 'Graphik Web';
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'), url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.woff2') format('woff2'), url('https://3form.s3.amazonaws.com/fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.Graphik-Medium-Web {
  font-family: 'Graphik Web';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.eot?#iefix') format('embedded-opentype'), url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.woff2') format('woff2'), url('https://3form.s3.amazonaws.com/fonts/Graphik-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

.Graphik-RegularItalic-Web {
  font-family: 'Graphik Web';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.eot');
  src: url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'), url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.woff2') format('woff2'), url('https://3form.s3.amazonaws.com/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.Graphik-Regular-Web {
  font-family: 'Graphik Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

h1 {
  font-size: 32px;
}

body {
  font-family: 'Graphik Web';
  background-color: #fff;
  color: #1f1f1f;
}

input:focus {
  outline: none !important;
  border: 2px solid #f79e1c;
  box-shadow: none !important;
}

select:focus {
  outline: none !important;
  border: 2px solid #f79e1c !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  border: 2px solid #f79e1c !important;
  box-shadow: none !important;
}

input {
  text-indent: 8px;
  line-height: 1.8em;
}

.sub-header {
  font-weight: 500;
  font-size: 0.9em;
}

.description-text {
  font-size: 0.8em;
}

input.square {
  border-radius: 0;
}

.load-btn-fmt {
  display: flex;
  align-items: center;
}

.load-btn-fmt>* {
  padding-left: 15px;
}

.load-btn-fmt img {
  max-height: 15px;
}

/* span.orange {
  color: #ff9933;
} */

/* p.orange {
  color: #ff9933;
}

.add-border-right {
  box-shadow: inset -2px 0 0 0 #E7E7E7;
}

.add-border-right.selected {
  box-shadow: none;
}

.add-margin-left {
  margin-left: 20px;
}

#save-btn,
#load-btn {
  color: #666;
  cursor: pointer;
  transition: all .2s ease;
}

#save-btn:hover,
#load-btn:hover {
  text-decoration: none;
}

#save-btn span.orange,
#load-btn span.orange {
  color: #ff9933;
} */

/* Bootstrap overrides */

/*updates to the buttons just for ceilings*/

/* .button {
  font-weight: 500;
  padding: 6px 24px;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}

.button.orange {
  border: 1px solid #ff9933;
}

.button.orange:hover,
.button.orange:focus {
  background-color: #ff9933;
  color: #fff;
} */

/* more appropriate link colors */

/* a {
  color: #ff9933;
  cursor: pointer;
}

a:hover {
  color: #ff8000;
}

a:hover,
a:visited {
  color: #ff8000;
  text-decoration: underline;
}

.number-input {
  text-align: right;
} */

/* 5 equal columns in 12 column grid */

/* .col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 2px;
  padding-left: 2px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
} */

/* end 5 equal columns in 12 column grid*/

/* Media */

/* Small devices (tablets, 768px and up) */

/* @media (min-width: 768px) {} */

/* Medium devices (desktops, 992px and up) */

/*
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
} */

/* Medium Large (iPad 1024 and up) */

/* @media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
} */

/* Large devices (large desktops, 1200px and up) */

/* @media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
} */

/* Overwrite some default css styles */

/*
div.mat-tab-label {
  min-width: 72px;
  height: 25px;
}

.mat-tab-header-pagination {
  display: none;
}

.mat-tab-group.mat-primary .mat-tab-label:focus,
.mat-tab-group.mat-primary .mat-tab-link:focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
  background-color: rgba(255, 153, 51, .3);
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ff9933;
}

.small-toggle .mat-button-toggle-label-content {
  line-height: 24px;
} */
