<div class="main-footer">
  <div class="left-half">
    <p class="stoked-primary">Stay Stoked and in the Loop</p>
    <p class="stoked-secondary">with our Latest Innovations</p>
    <div class="your-email">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Your Email">
      </mat-form-field>
      <!-- <input type="text" class="your-email">
      <span class="submit-email"></span> -->
    </div>
    <div class="social-links">
      tw fb yt pt in
    </div>
  </div>
  <div class="right-half">
    <div class="resources">
      <ul>
        <li>Resources</li>
        <li>Tech Specs & Downloads</li>
        <li>Digital Brochures</li>
        <li>Videos</li>
        <li>CEUs</li>
      </ul>
    </div>
    <div class="orders">
      <ul>
        <li>Orders</li>
        <li>Samples</li>
        <li>Sample Kits</li>
        <li>Custom Samples</li>
        <li>Rep Samples</li>
        <li>Print Collateral</li>
        <li>Cool Stuff</li>
        <li>Reclaim</li>
      </ul>
    </div>
    <div class="contact">
      <ul>
        <li>Contact</li>
        <li>TODO 1 800 726 0126</li>
        <li>TODO info@3form.com</li>
        <li>TODO Locations</li>
      </ul>
    </div>
  </div>
</div>
<div class="footers-footer">
  <div class="copyright">&copy; 2018 3form, LLC.</div>
  <div class="legal">
    <span>Terms & Conditions</span>
    <span>Privacy</span>
    <span>IP Notices</span>
  </div>
</div>
