.details-ui {
  margin: 30px 0px;

  .top-section {
    .section-header {
      font-size: 2em;
      font-weight: 500;
      display: flex;
      justify-content: space-between;

      .orange {
        // TODO: REPLACE THIS WITH IMG FROM MAT
        height: 15px;
        color: #ff9e1b;
      }
    }

    .design-details {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid black;
      margin-bottom: 25px;

      .rfq-data {
        display: flex;
        flex-direction: column;
        width: 49%;
        border-top: 4px solid black;
        padding: 15px 0px;

        .top-row,
        .bottom-row {
          display: flex;

          .left,
          .right {
            width: 50%;
            margin-bottom: 5px;
          }
        }

        .top-row {
          margin-bottom: 10px;
        }
      }

      .divider {
        border-right: 1px solid black;
      }
    }

    .design-details>div {
      margin: 15px 5px;
    }
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;

    .left-side {
      width: 49%;
    }

    .right-side {
      width: 49%;

      div {
        margin-bottom: 10px;
      }
    }
  }

  .logo-footer {
    margin-top: 20px;
    max-width: 100px;
  }
}

.orange-bold {
  color: #ff9e1b;
  font-weight: 500;
  margin-right: 10px;
}

.details-header {
  font-size: 1.1em;
  font-weight: 500;
}

// hr {
//   margin-top: 10px;
//   margin-bottom: 10px;
// }
// .header {
//   margin-top: 5px;
// }
// .header p {
//   margin-top: 0;
//   margin-bottom: 0;
// }
// .footer {
//   margin-top: 10px;
// }
// .rep-name,
// .rep-info {
//   padding: 0;
//   margin: 0;
// }
// .bold {
//   font-weight: 500;
// }
// .info {
//   font-size: 22px;
//   font-weight: 500;
// }
// .print {
//   cursor: pointer;
//   float: right;
// }
// span.sm {
//   font-size: 17px;
//   font-weight: 300;
// }
// .tile-info-header {
//   border-bottom: 1px solid #e8e8e8;
//   margin-bottom: 10px;
//   font-weight: 500;
// }
// .tile-info {
//   margin-bottom: 10px;
// }
// .tile-info img {
//   width: 48px;
// }
// .tile-info div.tile {
//   width: 48px;
//   height: 48px;
// }
// .pagebreak {
//   page-break-before: always;
// }
// th {
//   font-weight: 300;
// }
// .back-to-design span {
//   font-size: 11px;
// }
// .multiples {
//   text-align: center;
//   width: 100%;
// }
// .multiples-section {
//   margin-top: 20px;
// }
// .multiples-row {
//   display: flex;
//   margin: 5px 0px;
// }
// .multiples-row>* {
//   margin: 0px 8px;
//   font-size: 1.2em;
// }
// .multiples-row :first-child {
//   width: 50%;
//   font-weight: bold;
//   text-align: right;
// }
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   /* display: none; <- Crashes Chrome on hover */
//   -webkit-appearance: none;
//   margin: 0;
//   /* <-- Apparently some margin are still there even though it's hidden */
// }
// /*
//  For Printing
//  */
@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  //   .tile-info div.tile {
  //     width: 45px;
  //     height: 45px;
  //     background-color: red !important;
  //   }
  .orange {
    color: #ff9e1b !important;
  }

  .orange-bold {
    color: #ff9e1b !important;
  }
}

//   .col-sm-1,
//   .col-sm-2,
//   .col-sm-3,
//   .col-sm-4,
//   .col-sm-5,
//   .col-sm-6,
//   .col-sm-7,
//   .col-sm-8,
//   .col-sm-9,
//   .col-sm-10,
//   .col-sm-11,
//   .col-sm-12 {
//     float: left;
//   }
//   .col-sm-12 {
//     width: 100%;
//   }
//   .col-sm-11 {
//     width: 91.66666667%;
//   }
//   .col-sm-10 {
//     width: 83.33333333%;
//   }
//   .col-sm-9 {
//     width: 75%;
//   }
//   .col-sm-8 {
//     width: 66.66666667%;
//   }
//   .col-sm-7 {
//     width: 58.33333333%;
//   }
//   .col-sm-6 {
//     width: 50%;
//   }
//   .col-sm-5 {
//     width: 41.66666667%;
//   }
//   .col-sm-4 {
//     width: 33.33333333%;
//   }
//   .col-sm-3 {
//     width: 25%;
//   }
//   .col-sm-2 {
//     width: 16.66666667%;
//   }
//   .col-sm-1 {
//     width: 8.33333333%;
//   }
//   .col-sm-pull-12 {
//     right: 100%;
//   }
//   .col-sm-pull-11 {
//     right: 91.66666667%;
//   }
//   .col-sm-pull-10 {
//     right: 83.33333333%;
//   }
//   .col-sm-pull-9 {
//     right: 75%;
//   }
//   .col-sm-pull-8 {
//     right: 66.66666667%;
//   }
//   .col-sm-pull-7 {
//     right: 58.33333333%;
//   }
//   .col-sm-pull-6 {
//     right: 50%;
//   }
//   .col-sm-pull-5 {
//     right: 41.66666667%;
//   }
//   .col-sm-pull-4 {
//     right: 33.33333333%;
//   }
//   .col-sm-pull-3 {
//     right: 25%;
//   }
//   .col-sm-pull-2 {
//     right: 16.66666667%;
//   }
//   .col-sm-pull-1 {
//     right: 8.33333333%;
//   }
//   .col-sm-pull-0 {
//     right: auto;
//   }
//   .col-sm-push-12 {
//     left: 100%;
//   }
//   .col-sm-push-11 {
//     left: 91.66666667%;
//   }
//   .col-sm-push-10 {
//     left: 83.33333333%;
//   }
//   .col-sm-push-9 {
//     left: 75%;
//   }
//   .col-sm-push-8 {
//     left: 66.66666667%;
//   }
//   .col-sm-push-7 {
//     left: 58.33333333%;
//   }
//   .col-sm-push-6 {
//     left: 50%;
//   }
//   .col-sm-push-5 {
//     left: 41.66666667%;
//   }
//   .col-sm-push-4 {
//     left: 33.33333333%;
//   }
//   .col-sm-push-3 {
//     left: 25%;
//   }
//   .col-sm-push-2 {
//     left: 16.66666667%;
//   }
//   .col-sm-push-1 {
//     left: 8.33333333%;
//   }
//   .col-sm-push-0 {
//     left: auto;
//   }
//   .col-sm-offset-12 {
//     margin-left: 100%;
//   }
//   .col-sm-offset-11 {
//     margin-left: 91.66666667%;
//   }
//   .col-sm-offset-10 {
//     margin-left: 83.33333333%;
//   }
//   .col-sm-offset-9 {
//     margin-left: 75%;
//   }
//   .col-sm-offset-8 {
//     margin-left: 66.66666667%;
//   }
//   .col-sm-offset-7 {
//     margin-left: 58.33333333%;
//   }
//   .col-sm-offset-6 {
//     margin-left: 50%;
//   }
//   .col-sm-offset-5 {
//     margin-left: 41.66666667%;
//   }
//   .col-sm-offset-4 {
//     margin-left: 33.33333333%;
//   }
//   .col-sm-offset-3 {
//     margin-left: 25%;
//   }
//   .col-sm-offset-2 {
//     margin-left: 16.66666667%;
//   }
//   .col-sm-offset-1 {
//     margin-left: 8.33333333%;
//   }
//   .col-sm-offset-0 {
//     margin-left: 0%;
//   }
//   .visible-xs {
//     display: none !important;
//   }
//   .hidden-xs {
//     display: block !important;
//   }
//   table.hidden-xs {
//     display: table;
//   }
//   tr.hidden-xs {
//     display: table-row !important;
//   }
//   th.hidden-xs,
//   td.hidden-xs {
//     display: table-cell !important;
//   }
//   .hidden-xs.hidden-print {
//     display: none !important;
//   }
//   .hidden-sm {
//     display: none !important;
//   }
//   .visible-sm {
//     display: block !important;
//   }
//   table.visible-sm {
//     display: table;
//   }
//   tr.visible-sm {
//     display: table-row !important;
//   }
//   th.visible-sm,
//   td.visible-sm {
//     display: table-cell !important;
//   }
//   table {
//     page-break-after: auto;
//   }
//   tr {
//     page-break-inside: avoid;
//     page-break-after: auto;
//   }
//   td {
//     page-break-inside: avoid;
//     page-break-after: auto;
//   }
//   thead {
//     display: table-header-group;
//   }
// }
