<h3>Tile Usage information</h3>
<p class="sm">{{feature.packageInformation()}}</p>
<table class="table table-striped">
  <tr>
    <th>{{feature.getTileType() | capitalize}}</th>
    <th>Used</th>
    <th>Receiving</th>
    <th>Unused</th>
  </tr>
  <tr *ngFor="let tile of purchasedTiles | keys">
    <td *ngIf="tile.image"><img src="{{tile.image}}" alt="{{tile.material}} - {{tile.tile}}" mdTooltip="{{tooltip(tile)}}" [mdTooltipPosition]="position"></td>
    <td>{{tile.used}}</td>
    <td>{{tile.purchased}}</td>
    <td>{{tile.purchased - tile.used}}</td>
  </tr>
</table>
