.usage-table {
  max-height: 20em;
  overflow: auto;
}

table {
  width: 100%;
}

tr {
  line-height: 4em;
  border-bottom: 1px solid #bbb;
}

th {
  font-weight: 500;
}

td,
th {
  padding: 0px 10px;
}

td img {
  max-height: 48px;
}
